# ENV (credenciales)
.env
.env.*
backend/.env
backend/.env.*
pos-bar-frontend/.env
pos-bar-frontend/.env.*

# deps
node_modules/
backend/node_modules/
pos-bar-frontend/node_modules/
backend/prisma/migrations/


# builds
dist/
backend/dist/
pos-bar-frontend/dist/
