# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# ENV (no subir credenciales)
.env
.env.*
!.env.example

# Prisma engines / binarios (Windows/Linux)
*.dll.node
*.dll.node.tmp*
*.so.node
*.dylib.node

# (opcional) Prisma client generado (mejor no versionar)
node_modules/.prisma/
